* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* GLOBAL */
:root {
    --light-gray: #f9f8f9; /* Light Gray */
    --pale-blue: #f2fcff; /* Pale Blue */
    --pure-white: #ffffff; /* Pure White */
    --deep-teal: #0f6e8c; /* Deep Teal */
    --soft-blue: #f4fbff; /* Soft Blue */
    --dark-cyan: #1282a6; /* Dark Cyan */
}
.container {
}

section {
    height: 100vh;
}
.material-symbols-outlined {
    cursor: pointer;
}

/* HEADER */
.header-area {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: var(--pure-white);
    position: fixed;
    /* filter: drop-shadow(2px 2px 7px lightblue); */
    box-shadow: 10px 10px 10px var(--light-gray);
    padding: 0 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    margin: 0 auto;
}

.header-logo {
    min-width: 125px;
}
.mobile-menu {
    display: none;
}

.header-menu ul {
    display: flex;
    gap: 1rem;
}
.search-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.search-block input {
    background: transparent;
    border-radius: 10px;
    padding-left: 10px;
    width: 100%;
    border: 1px slid var(--dark-cyan);
}
/* Media Query for mobile Menu Start */
@media screen and (max-width: 600px) {
    .header-area {
        position: fixed;
        right: -45%;
        background: rgba(255, 255, 255, 0.5);
        height: 100%;
        width: 45%;
        transition: all 0.5s ease-in-out;
        backdrop-filter: blur(10px); /* Increase blur value */
        -webkit-backdrop-filter: blur(10px); /* Add WebKit prefix for Safari */
    }
    .header-area.show {
        right: 0;
    }
    .header {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: 100%;
        padding-top: 20px;
    }
    .header-menu {
        margin-top: 30px;
        width: 100%;
    }

    .header-menu ul {
        flex-direction: column;
        gap: 0;
    }
    .header-menu ul li {
        padding: 10px;
    }
    .header-menu ul li:hover {
        color: #fff;
        cursor: pointer;
        background: var(--deep-teal);
    }
    .search-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }
    .search-block input {
        padding-left: 0px;
        padding: 10px 0px;
        margin: 0 0px 0 10px;
        transition: all 0.5s ease-in-out;
        background: transparent;
    }

    .search-block:has(input) {
        border: 1px solid var(--dark-cyan);
        border-radius: 10px;
    }
    .mobile-menu {
        display: inline;
        position: absolute;
        top: 0;
        left: -44px;
        padding: 10px;
        background: var(--deep-teal);
        color: var(--pure-white);
    }
    /* Media Query for mobile Menu END */
}

/*HERO */
.hero {
    display: flex;
    align-items: center;
    background: var(--light-gray);
}
