* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* GLOBAL */
:root {
    --light-gray: #f9f8f9; /* Light Gray */
    --pale-blue: #f2fcff; /* Pale Blue */
    --pure-white: #ffffff; /* Pure White */
    --deep-teal: #0f6e8c; /* Deep Teal */
    --soft-blue: #f4fbff; /* Soft Blue */
    --dark-cyan: #1282a6; /* Dark Cyan */
}
.wrapper {
}

.container {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.material-symbols-outlined {
    cursor: pointer;
}

/* HEADER */
.header-area {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    box-shadow: 10px 10px 10px var(--light-gray);
    padding: 0 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    margin: 0 auto;
}

.header-logo {
    min-width: 125px;
}
.mobile-menu {
    display: none;
}

.header-menu ul {
    display: flex;
    gap: 1rem;
}
.search-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.search-block input {
    background: transparent;
    border-radius: 10px;
    padding-left: 10px;
    width: 100%;
    border: 1px slid var(--dark-cyan);
}
/* Media Query for mobile Menu Start */
@media screen and (max-width: 600px) {
    .noneMobile {
        display: none;
    }
    .header-area {
        position: fixed;
        right: -45%;
        background: rgba(255, 255, 255, 0.5);
        height: 100%;
        width: 45%;
        transition: all 0.5s ease-in-out;
        backdrop-filter: blur(10px); /* Increase blur value */
        -webkit-backdrop-filter: blur(10px); /* Add WebKit prefix for Safari */
    }
    .header-area.show {
        right: 0;
    }
    .header {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: 100%;
        padding-top: 20px;
    }
    .header-menu {
        margin-top: 30px;
        width: 100%;
    }

    .header-menu ul {
        flex-direction: column;
        gap: 0;
    }
    .header-menu ul li a {
        padding: 10px;
        width: 100%;
        display: block;
    }
    .header-menu ul li a:hover {
        color: #fff;
        cursor: pointer;
        background: var(--deep-teal);
    }
    .search-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        position: relative;
    }
    .search-block input {
        padding-left: 0px;
        padding: 10px 0px;
        margin: 0 0px 0 10px;
        transition: all 0.5s ease-in-out;
        background: transparent;
        position: absolute;
    }

    .search-block:has(input) {
        border: 1px solid var(--dark-cyan);
        border-radius: 10px;
    }
    .mobile-menu {
        display: inline;
        position: absolute;
        top: 0;
        left: -44px;
        padding: 10px;
        background: var(--deep-teal);
        color: var(--pure-white);
    }
    /* Media Query for mobile Menu END */
}

/*HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--light-gray);
    padding: 120px 0 50px 0;
}
.hero .container {
    flex-direction: row-reverse;
}
.hero-copy {
    padding-right: 100px;
    width: 100%;
}

.hero-copy h1 {
    font-size: 5vw;
    line-height: 6vw;
    color: var(--deep-teal);
}
.hero-copy p {
    font-size: 24px;
    line-height: 30px;
    margin: 50px 0px;
}
.hero-copy a {
    padding: 15px 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: var(--pure-white);
    background: var(--deep-teal);
}

.hero-image img {
    width: 100%;
    max-width: 460px;
    min-width: 300px;
}
.hero-partner {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.hero-partner .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 350px;
    gap: 20px;
}

/* Hero Media Query */
@media screen and (max-width: 600px) {
    .hero .container {
        flex-direction: column;
        padding: 0 20px;
    }

    .hero-copy {
        padding-right: 50px;
    }
    .hero-copy h1 {
        font-size: 6vh;
        line-height: 6vh;
    }
    .hero-image img {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 50px;
    }
}
